:root {
    --header: #6496A4;
    --footer: #474E52;
}

/* los siguientes estilos corresponden al nav*/
#nav {
    height: 12rem;
    position: sticky;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background: #6496A4;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.14);
  }
  
  .links {
    display: flex;
    gap: 16px;
  }
  
  .links a {
    color: #f8f8f8;
    text-decoration: none;
  }
  
  nav .links a:hover {
      background-color: #f9f9f9;
      color: #6496A4;
      padding: .4rem;
      border-radius: 7px;
      transition: .3s;
  }
  
  nav img {
    width: 5rem;
    transform-origin: 0% 50%;
    transition: 0.3s;
  }
  
  .container {
    margin: 0 10%;
    width: 80%;
  }
  
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* Aquí finalizan los estilos del navbar*/

  
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BCE4EC;
    padding-bottom: 1rem;
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% calc(100% - 5rem),
        0 100%
    );
    
    height: 15rem;
}

#titulo-principal{
    color: #2263A8;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#titulo-2 {
    text-align: center;
    font-size: 3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2263A8;
}

#soporte-cont {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}


.Explicacion {
    max-width: 45%;
    flex: 1 0 15rem;
    text-align:justify;
    font-size: 1.2rem;

}

.Imagen-explicacion {
    max-width: 45%;
    flex: 1 0 15rem;
    min-width: 20rem;
}

#foto-soporte-ti {
    width: 100%;
    overflow: hidden;
    object-fit: contain;
    width: 30rem;
    margin-left: 200px;
}

.servicios{
    display: block;
    text-align: center;
}

#servicios-titulo{
    text-align: center;
    font-size: 75px;
    margin: auto;
    color: #2263A8;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.contenedor-servicios{
    text-align: center;
    display: flex;
    margin: auto;
}

.mantenimiento{
    margin-top: 50px;
    width: 100%;
    background: #92CFE1;
    margin: 15px;
    border-radius: 30px;
    box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.3);
}
.seguridad{
    margin-top: 50px;
    width: 100%;
    background: #92CFE1;
    margin: 15px;
    border-radius: 30px;
    box-shadow: -10px 10px 9px  rgba(0, 0, 0, 0.3);
}

.mantenimiento-texto{
    margin: auto;
    justify-content: center;
    display: block;
}

#texto-m{
    text-align: justify;
    margin: auto;
    width: 70%;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

#mantenimiento-titulo{
    margin-bottom: 60px;
    margin-top: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#imagen-mantenimiento
{
    width: 400px;
}

#imagen-seguridad
{
    width: 400px;
}

.seguridad-texto{
    margin: auto;
    justify-content: center;
    display: block;
}

#texto-s{
    text-align: justify;
    margin: auto;
    width: 70%;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

#seguridad-titulo{
    margin-bottom: 60px;
    margin-top: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.clientes
{
    display: block;
    text-align: center;
    margin-top: 100px;
}

#titulo-clientes{
 
    text-align: center;
    font-size: 55px;
    color: #2263A8;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.imagenes-clientes{

 display: flex;
 margin: auto;

}

#img-cliente{
    margin-right: 90px;
    width: 250px;
    margin: auto;
    justify-content: center;
    text-align: center;
}


@media (max-width: 992px) {

    #nav {
        position:initial;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        margin: auto;
        width: 100%;
        height: 70px;
        background: #6496A4;
        box-shadow: 0 10px 50px rgba(0, 0, 0, 0.14);
      }
      
      
      #container-flex{
      
        display: inline-block;
        margin: auto;
        justify-content: center;
        text-align: center;
        align-items: center;
       
      }
    
      #button{
      
       display: block;
       text-align: center;
       padding-bottom: 10px;
      
      }
      .links {
        display: flex;
        gap: 16px;
      }
      
      .links a {
        color: #f8f8f8;
        text-decoration: none;
      }
      
      .links a:hover {
          background-color: #f9f9f9;
          color: #6496A4;
          padding: .4rem;
          border-radius: 7px;
          transition: .3s;
      }
      
      nav img {
        width: 5rem;
        transform-origin: 0% 50%;
        transition: 0.3s;
      }
      
      .container {
        margin: 0 10%;
        width: 80%;
      }
      
      .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
        #nav {
          
          left: 0;
          width: 100%;
          display: block;
          align-items: center;
          margin: auto;
          width: 100%;
          height: auto;
          background: #6496A4;
          box-shadow: 0 10px 50px rgba(0, 0, 0, 0.14);
        }
        
        .links {
      
          display:block;
          gap: 10px;
          
        }
      
        #container-flex{
      
          justify-content: center;
          margin: auto;
          display:block;
      
        }
        
        .links a {
          color: #f8f8f8;
          text-decoration: none;
        }
        
        .links a:hover {
            background-color: #f9f9f9;
            color: #6496A4;
            padding: .4rem;
            border-radius: 7px;
            transition: .3s;
        }
        
        nav img {
          width: 5rem;
          transform-origin: 0% 50%;
          transition: 0.3s;
        }
        
        .container {
          margin: 0 10%;
          width: 80%;
        }
        
        .flex {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

    :root {
        --header: #6496A4;
        --footer: #474E52;
    }
    
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #BCE4EC;
        padding-bottom: 1rem;
        clip-path: polygon(
            0% 0%,
            100% 0%,
            100% calc(100% - 5rem),
            0 100%
        );
        
        height: 15rem;
    }
    
    #titulo-principal{
        color: #2263A8;
        font-size: 50px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    #titulo-2 {
        text-align: center;
        font-size: 3rem;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #2263A8;
    }
    
    #soporte-cont {
        padding: 1rem;
        display: block;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }

    #titulo-2{
        text-align: center;
    }

    #exp-texto{
        text-align: justify;
    }
    
    
    .Explicacion {
        max-width: 100%;
        flex: 1 0 15rem;
        text-align:center;
        font-size: 1.2rem;
    }
    
    .Imagen-explicacion {
        flex: 1 0 15rem;
        min-width: 20rem;
    }
    
    #foto-soporte-ti {
        width: 300px;
        overflow: hidden;
        object-fit: contain;
        justify-content: center;
        display: flex;
    }
    
    .servicios{
        display: block;
        text-align: center;
    }
    
    #servicios-titulo{
        text-align: center;
        font-size: 75px;
        margin: auto;
        color: #2263A8;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
    }
    
    .contenedor-servicios{
        text-align: center;
        display: flex;
        margin: auto;
        display: block;
    }
    
    .mantenimiento{
        margin-top: 50px;
        width: 97%;
        background: #92CFE1;
        margin: 15px;
        border-radius: 30px;
        box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.3);
    }
    .seguridad{
        margin-top: 50px;
        width: 97%;
        background: #92CFE1;
        margin: 15px;
        border-radius: 30px;
        box-shadow: -10px 10px 9px  rgba(0, 0, 0, 0.3);
    }
    
    .mantenimiento-texto{
        margin: auto;
        justify-content: center;
        display: block;
    }
    
    #texto-m{
        text-align: justify;
        margin: auto;
        width: 70%;
        margin-bottom: 20px;
    }
    
    #mantenimiento-titulo{
        margin-bottom: 60px;
        margin-top: 20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    }
    
    #imagen-mantenimiento
    {
        width: 400px;
    }
    
    #imagen-seguridad
    {
        width: 400px;
    }
    
    .seguridad-texto{
        margin: auto;
        justify-content: center;
        display: block;
    }
    
    #texto-s{
        text-align: justify;
        margin: auto;
        width: 70%;
        margin-bottom: 20px;
    }
    
    #seguridad-titulo{
        margin-bottom: 60px;
        margin-top: 20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    }
    
    .clientes
    {
        display: block;
        text-align: center;
        margin-top: 100px;
    }
    
    #titulo-clientes{
     
        text-align: center;
        font-size: 55px;
        color: #2263A8;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    }
    
    .imagenes-clientes{
    
     margin: auto;
     display: block;
    
    }
    
    #img-cliente{
        margin-right: 90px;
        width: 250px;
        justify-content: center;
        text-align: center;
    }



}

@media (min-width: 995px),(max-width:1400px) {


    
    #foto-soporte-ti {
        width:300px;
        overflow: hidden;
        object-fit: contain;
        justify-content: center;
        display: flex;
    }

    
}

@media (max-width: 576px) {

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #BCE4EC;
        padding-bottom: 1rem;
        clip-path: polygon(
            0% 0%,
            100% 0%,
            100% calc(100% - 5rem),
            0 100%
        );
        
        height: 16rem;
    }

    #titulo-principal{
        color: #2263A8;
        font-size: 50px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
    }

    .Imagen-explicacion {
        flex: 1 0 15rem;
        min-width: 20rem;
    }
    
    #foto-soporte-ti {
        width: 300px;
        margin: auto;
        overflow: hidden;
        object-fit: contain;
        justify-content: center;
        display: flex;
    }

    #titulo-clientes{
     
        text-align: center;
        font-size: 30px;
        color: #2263A8;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    }

    .imagenes-clientes{
    
        margin: auto;
        display: block;
       
       }
       
       #img-cliente{
           display: flex;
           margin: auto;
           width: 250px;
           justify-content: center;
           text-align: center;
       }

       #imagen-mantenimiento
       {
           width: 250px;
       }
       
       #imagen-seguridad
       {
           width: 250px;
       }

       .mantenimiento{
        margin-top: 50px;
        width: 100%;
        background: #92CFE1;
        margin: auto;
        border-radius: 0px;
        box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.3);
    }
    .seguridad{
        margin-top: 50px;
        width: 100%;
        background: #92CFE1;
        margin: auto;
        border-radius: 0px;
        box-shadow: -10px 10px 9px  rgba(0, 0, 0, 0.3);
    }

}

/*El siguiente código corresponde al footer*/

section {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #172940;
    padding-top: 60px;
  }
  
  footer {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 0 30px;
  }

  #footer-img {
    width: 10rem;
  }
  
  @media (width < 620px) {
    footer {
      flex-direction: column;
    }
  
    footer.bottom {
      gap: 16px;
      flex-direction: column-reverse;
    }
  }
  
  footer > img {
    margin-top: 10px;
  }
  
  @media (width >= 620px) {
    footer {
      margin: 0 auto;
      max-width: 600px;
      padding: 0;
    }
  }
  
  footer {
    color: #a2b5cd;
  }
  
  footer.top {
    border-bottom: 2px solid #3a4f6a;
    padding-bottom: 20px;
  }
  
  footer.bottom {
    padding: 20px 0;
    justify-content: space-between;
  }
  
  footer.top .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  
  .links > div {
    display: grid;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  footer h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #f7f7f7;
  }
  
  .legal {
    font-size: 12px;
  }
  
  .legal > a {
    margin: 0 4px;
  }
  
  .legal > span {
    margin-right: 10px;
  }
  
  footer.bottom .links {
    display: flex;
    gap: 18px;
  }
  
  footer.bottom .links > a {
    font-size: 24px;
  }
  
  @media (width < 420px) {
    footer {
      text-align: center;
      align-items: center;
    }
  
    footer.top .links {
      grid-template-columns: 1fr;
    }
  
    footer.bottom {
      align-items: center;
    }
  
    .legal > span {
      display: block;
      margin-right: 0;
      margin-bottom: 2px;
    }
  }

  #ig-logo {
    width: 2rem;
  }
  /*Aquí finaliza el código del footer*/


