/* los siguientes estilos corresponden al nav*/
#nav {
  height: 12rem;
  position: fixed;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background: #6496A4;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.14);
}

.links {
  display: flex;
  gap: 16px;
}

.links a {
  color: #f8f8f8;
  text-decoration: none;
}

nav .links a:hover {
    background-color: #f9f9f9;
    color: #6496A4;
    padding: .4rem;
    border-radius: 7px;
    transition: .3s;
}

nav img {
  width: 5rem;
  transform-origin: 0% 50%;
  transition: 0.3s;
}

.container {
  margin: 0 10%;
  width: 80%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.menu-desktop {
    transition: .6s;
    z-index: 100;
}



@media (max-width: 767px) {
    .hamburger {
      display: block;
    }

    nav .links {
        display: none;
        flex-direction: column;
        gap: 4rem;
    }

    .menu-mobile {
        transition: .6s;
        z-index: 100;
        position: fixed;
        height: 100% !important;
        top: 0;
    }

    #hambur-active {
        position: relative;
        top: 1rem;
        right: 1rem;
    }

    
}

@media(min-width: 768px) {
  nav .links {
    display: flex !important;
  }

  .hambur-active {
    display: none;
  }
}

/* Aquí finalizan los estilos del navbar*/

#titulo {
  margin: 7rem 2rem;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #2263A8;
  
}

#titulo img {
  max-width: 600px;
}

legend {
  text-decoration: underline #3a4f6a;
}

#form-cont {
  box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.3);;
  margin-top: 10rem;
  margin-bottom: 10rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #ADD7E2;
}

#viene {
  padding-right: 1rem;
}

#razon-cont {
  margin-top: 2rem;
  height: 4rem;
}

#text-consult {
  text-align: center;
}

#razon-consulta {
  height: 75%;
  border-radius: 15px;
  margin-bottom: 7rem;
}

#enviar {
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#empresa {
  display: none;
}

#cont-ge {
  padding: 1rem;
}

  /*El siguiente código corresponde al footer*/

section {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #172940;
    padding-top: 60px;
  }
  
  footer {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 0 30px;
  }

  #footer-img {
    width: 10rem;
  }
  
  @media (width < 620px) {
    footer {
      flex-direction: column;
    }
  
    footer.bottom {
      gap: 16px;
      flex-direction: column-reverse;
    }
  }
  
  footer > img {
    margin-top: 10px;
  }
  
  @media (width >= 620px) {
    footer {
      margin: 0 auto;
      max-width: 600px;
      padding: 0;
    }
  }
  
  footer {
    color: #a2b5cd;
  }
  
  footer.top {
    border-bottom: 2px solid #3a4f6a;
    padding-bottom: 20px;
  }
  
  footer.bottom {
    padding: 20px 0;
    justify-content: space-between;
  }
  
  footer.top .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  
  .links > div {
    display: grid;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  footer h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #f7f7f7;
  }
  
  .legal {
    font-size: 12px;
  }
  
  .legal > a {
    margin: 0 4px;
  }
  
  .legal > span {
    margin-right: 10px;
  }
  
  footer.bottom .links {
    display: flex;
    gap: 18px;
  }
  
  footer.bottom .links > a {
    font-size: 24px;
  }
  
  @media (width < 420px) {
    footer {
      text-align: center;
      align-items: center;
    }
  
    footer.top .links {
      grid-template-columns: 1fr;
    }
  
    footer.bottom {
      align-items: center;
    }
  
    .legal > span {
      display: block;
      margin-right: 0;
      margin-bottom: 2px;
    }
  }

  #ig-logo {
    width: 2rem;
  }
  /*Aquí finaliza el código del footer*/