
/* los siguientes estilos corresponden al nav*/
:root {
  --header: #6496A4;
  --footer: #474E52;
}

#nav {
  height: 12rem;
  position: fixed;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background: #6496A4;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.14);
}

.links {
  display: flex;
  gap: 16px;
}

.links a {
  color: #f8f8f8;
  text-decoration: none;
}

nav .links a:hover {
    background-color: #f9f9f9;
    color: #6496A4;
    padding: .4rem;
    border-radius: 7px;
    transition: .3s;
}

nav img {
  width: 5rem;
  transform-origin: 0% 50%;
  transition: 0.3s;
}

.container {
  margin: 0 10%;
  width: 80%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.menu-desktop {
    transition: .6s;
    z-index: 100;
}



@media (max-width: 767px) {
    .hamburger {
      display: block;
    }

    nav .links {
        display: none;
        flex-direction: column;
        gap: 4rem;
    }

    .menu-mobile {
        transition: .6s;
        z-index: 100;
        position: fixed;
        height: 100% !important;
    }

    #hambur-active {
        position: relative;
        top: 1rem;
        right: 1rem;
    }

    
}

@media(min-width: 768px) {
  nav .links {
    display: flex !important;
  }

  .hambur-active {
    display: none;
  }
}

/* Aquí finalizan los estilos del navbar*/


  .contenedor-general{
  
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #titulo-principal{
    margin-top: 20px;
    color: #2263A8;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #titulo-2 {
    text-align: center;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2263A8;
}


  #cuadrado-valores{
    background-color: #BCE4EC;
    /*border: 3px solid blue;*/
    margin: 10px;
    width: 340px;
    height: 500px;
    box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.3);
  }

  .icono{
    font-size: 60px;
    padding-top: 15px;
  }

  .cont-standard{
    padding-top: 2%;
    padding-bottom: 7%;
  }

  .row{
    padding-left: 10%;
    padding-right: 10%;
  }

  .col-12{
    padding: 10px;
  }

  #titulo-valores{
    color: rgba(24, 23, 23, 0.849);
    font-size: 25px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    padding-top: 20px;
  }

  .letra-cuadrados{
    padding: 5%;
    text-align: left;
    color: rgba(0, 0, 0, 0.788);
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .letra-historia{
    overflow: visible;
    padding-top: 10%;
    padding-left: 10%;
    text-align: left;
    color: rgba(0, 0, 0, 0.788);
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .cont-pros{
    padding-top: 5%;
    padding-bottom: 5%;
    background-color:rgba(100, 150, 164, 0.91); ;

  }

  #caja-pros{
    margin: 10px;
    width: 340px;
    background-color: #ADDEEC;
    border: 2px solid #2263A8;
    height: 200px;
  }

  .cont-tituloHistoria{
    padding-top: 10% ;
  }

  .imagenH{
    width: 500px;
    padding-top: 5%;
  }
  
  .poligono{
  display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BCE4EC;
    padding-bottom: 1rem;
    clip-path:  polygon(0 42%, 100% 0, 100% 100%, 0% 100%);
    height: 30rem;
}
@media(max-width:1200px){
  .poligono{
    overflow: visible;
    display: flex;
      justify-content: center;
      align-items: center;
      background-color: #BCE4EC;
      padding-bottom: 1rem;
      clip-path: none;
      height:100% ;
      text-overflow: ellipsis;
  }

}











  /*El siguiente código corresponde al footer*/

section {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #172940;
    padding-top: 60px;
  }
  
  footer {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 0 30px;
  }

  #footer-img {
    width: 10rem;
  }
  
  @media (width < 620px) {
    footer {
      flex-direction: column;
    }
  
    footer.bottom {
      gap: 16px;
      flex-direction: column-reverse;
    }
  }
  
  footer > img {
    margin-top: 10px;
  }
  
  @media (width >= 620px) {
    footer {
      margin: 0 auto;
      max-width: 600px;
      padding: 0;
    }
  }
  
  footer {
    color: #a2b5cd;
  }
  
  footer.top {
    border-bottom: 2px solid #3a4f6a;
    padding-bottom: 20px;
  }
  
  footer.bottom {
    padding: 20px 0;
    justify-content: space-between;
  }
  
  footer.top .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  
  .links > div {
    display: grid;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  footer h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #f7f7f7;
  }
  
  .legal {
    font-size: 12px;
  }
  
  .legal > a {
    margin: 0 4px;
  }
  
  .legal > span {
    margin-right: 10px;
  }
  
  footer.bottom .links {
    display: flex;
    gap: 18px;
  }
  
  footer.bottom .links > a {
    font-size: 24px;
  }
  
  @media (width < 420px) {
    footer {
      text-align: center;
      align-items: center;
    }
  
    footer.top .links {
      grid-template-columns: 1fr;
    }
  
    footer.bottom {
      align-items: center;
    }
  
    .legal > span {
      display: block;
      margin-right: 0;
      margin-bottom: 2px;
    }
  }

  #ig-logo {
    width: 2rem;
  }
  /*Aquí finaliza el código del footer*/