body {
    height: auto;}

    

/* los siguientes estilos corresponden al nav*/
#nav {
  height: 12rem;
  position: fixed;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background: #6496A4;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.14);
}

.links {
  display: flex;
  gap: 16px;
}

.links a {
  color: #f8f8f8;
  text-decoration: none;
}

nav .links a:hover {
    background-color: #f9f9f9;
    color: #6496A4;
    padding: .4rem;
    border-radius: 7px;
    transition: .3s;
}

nav img {
  width: 5rem;
  transform-origin: 0% 50%;
  transition: 0.3s;
}

.container {
  margin: 0 10%;
  width: 80%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.menu-desktop {
    transition: .6s;
    z-index: 100;
}



@media (max-width: 767px) {
    .hamburger {
      display: block;
    }

    nav .links {
        display: none;
        flex-direction: column;
        gap: 4rem;
    }

    .menu-mobile {
        transition: .6s;
        z-index: 100;
        position: fixed;
        height: 100% !important;
    }

    #hambur-active {
        position: relative;
        top: 1rem;
        right: 1rem;
    }

    
}

@media(min-width: 768px) {
  nav .links {
    display: flex !important;
  }

  .hambur-active {
    display: none;
  }
}

/* Aquí finalizan los estilos del navbar*/

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BCE4EC;
    padding-bottom: 1rem;
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% calc(100% - 5rem),
        0 100%
    );
    
    height: 15rem;
  }
  
  .cuerpo{
  
    max-height: 150rem;
  
  }
  
  
  .contenedor-general{
  
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  #titulo-principal
  {
     color: #2263A8;
     font-size: 60px;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .contenedor-servicios{
     
    justify-content: center;
     margin:auto;
     display: flex;
  }
  
  .servicios-mantenimiento{
  
    overflow:auto;
    width: 100%;
    margin: 50px;
    height: 650px;
    border: rgb(22, 22, 22) solid 2px;
    background: #D0E3FF;
    box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.3);
  
  }
  
  .servicios-mantenimiento::-webkit-scrollbar{
  
    width: 7px;
  }
  
  .servicios-mantenimiento::-webkit-scrollbar-thumb{
  
    background: #609ed1;
      border-radius: 5px;
  }
  
  
  
  #titulo-mantenimiento{
  
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2263A8;
  
  }
  
  #texto-mantenimiento, #contenedor-lista-m{
  
    line-height: 1.6;
    margin: auto;
    text-align: justify;
    width: 80%;
    font-size: 1.1rem;
  
  }
  
  .servicios-seguridad
  {
    overflow: auto;
    width: 100%;
    height: 650px;
    margin: 50px;
    border: rgb(22, 22, 22) solid 2px;
    background: #D0E3FF;
    box-shadow: -10px 10px 9px  rgba(0, 0, 0, 0.3);
  }
  
  .servicios-seguridad::-webkit-scrollbar{
  
    width: 7px;
  }
  
  .servicios-seguridad::-webkit-scrollbar-thumb{
  
    background: #609ed1;
      border-radius: 5px;
  }
  
  
  #titulo-seguridad{
  
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
    font-size: 3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2263A8;
  
  }
  
  #escudo
  {
  
    font-size: 50px;
  
  }
  
  
  #texto-seguridad,#contenedor-lista-s{
  
    line-height: 1.6;
    margin: auto;
    text-align: justify;
    width: 80%;
    font-size: 1.1rem;
  
  }
  
  
  #titulo-precios{
  
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
    color: #2263A8;
    font-size: 50px;
  
  }
  
       
  .precios{
  
    margin-top: 60px;
    margin-bottom: 50px;
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
  
  .servicio-basico{
  
    width: 400px;
    height:600px;
    background: #FFE4FF;
    border: black solid 2px;
    box-shadow: 10px 10px 9px  rgba(0, 0, 0, 0.3);
    
  }
  
  #titulo-basico{
  
    margin-top: 20px;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  
  }
  
  #lista-basico{
  
    margin-top: 30px;
    text-align: left;
  
  }
  
  #value-basico{
  
   font-size: 1.2rem;
  
  }
  
  .servicio-plus{
  
    width: 400px;
    height: 600px;
    background: #8e7bd8;
    border: black solid 2px;
    box-shadow: 10px 10px 9px  rgba(0, 0, 0, 0.3);
  
  }
  
  #titulo-plus{
  
    margin-top: 20px;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  }
  
  #lista-plus{
  
    margin-top: 30px;
    text-align: left;
  
  }
  
  #value-plus{
  
    font-size: 20px;
    margin-bottom:170px;
    
  }
  
  .servicio-premium{
  
    width: 400px;
    height: 600px;
    background: #BC82FD;
    border: black solid 2px;
    box-shadow: 10px 10px 9px  rgba(0, 0, 0, 0.3);
  
  }
  
  #titulo-premium{
  
    margin-top: 20px;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  }
  
  #lista-premium{
  
    text-align: left;
  
  }
  
  #value-premium{
  
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 230px;
  
  }
  
  #boton1
  {
    
    width: 180px;
  
  }
  
  #boton2
  {
    
    width: 180px;
    margin-top: 220px;
    
  
  }
  
  #boton3
  {
  
    margin-top: 550px;
    width: 180px;
  
  }
  
  @media (max-width: 992px) {
  
    
  
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #BCE4EC;
      padding-bottom: 1rem;
      clip-path: polygon(
          0% 0%,
          100% 0%,
          100% calc(100% - 5rem),
          0 100%
      );
      
      height: 15rem;
    }
    
    .cuerpo{
    
      max-height: 150rem;
    
    }
    
    
    .contenedor-general{
    
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    
    #titulo-principal
    {
       color: #2263A8;
       font-size: 60px;
       font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       margin-bottom: 50px;
    }
    
    .contenedor-servicios{
  
       justify-content: center;
       margin:auto;
       display: block;
       text-align: center;
  
    }
    
    .servicios-mantenimiento{
    
      margin: auto;
      margin-bottom: 50px;
      width: 100%;
      height: auto;
      padding-bottom: 15px;
      border: none;
      background: #D0E3FF;
      box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.3);
    
    }
    
    #titulo-mantenimiento{
    
      padding-top: 10px;
      margin-top: 20px;
      margin-bottom: 30px;
      text-align: center;
      font-size: 2rem;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: #2263A8;
    
    }
    
    #texto-mantenimiento, #contenedor-lista-m{
    
      line-height: 1.6;
      margin: auto;
      text-align: justify;
      width: 80%;
      font-size: 1.1rem;
    
    }
    
    .servicios-seguridad
    {
      margin: auto;
      width: 100%;
      height: auto;
      padding-bottom: 15px;
      border: none;
      background: #D0E3FF;
      box-shadow: -10px 10px 9px  rgba(0, 0, 0, 0.3);
      margin-bottom: 70px;
    }
    
    #titulo-seguridad{
    
      padding-top: 10px;
      margin-top: 20px;
      margin-bottom: 30px;
      text-align: center;
      align-items: center;
      font-size: 2rem;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: #2263A8;
    
    }
    
    #escudo
    {
    
      font-size: 2rem;
    
    }
    
    #texto-seguridad,#contenedor-lista-s{
    
      line-height: 1.6;
      margin: auto;
      text-align: justify;
      width: 80%;
      font-size: 1.1rem;
    
    }
  
    #imagen-ti{
  
      margin: auto;
      width: 100%;
      justify-content: center;
      display: flex;
    }
    
    
    #titulo-precios{
    
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      margin-top: 50px;
      color: #2263A8;
      font-size: 50px;
    
    }
  
    .contenedor-precios{
  
      display: block;
      margin: auto;
  
  
    }
    
         
    .precios{
    
      margin: auto;
      display: block;
      height: auto;
      justify-content: center;
      text-align: center;
      align-items: center;
  
    }
    
    .servicio-basico{
    
      margin: auto;
      width:  80%;
      height:500px;
      padding-bottom: 20px;
      background: #FFE4FF;
      border: black solid 2px;
      margin-bottom: 50px;
      
    }
    
    #titulo-basico{
    
      margin-top: 20px;
      font-size: 2rem;
      text-align: center;
      justify-content: center;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
    }
    
    #lista-basico{
    
      margin-top: 30px;
      text-align: left;
    
    }
    
    #value-basico{
    
     font-size: 1.2rem;
    
    }
    
    .servicio-plus{
    
      margin: auto;
      width:  80%;
      height: 500px;
      background: #8e7bd8;
      border: black solid 2px;
      box-shadow: 10px 10px 9px  rgba(0, 0, 0, 0.3);
    
    }
    
    #titulo-plus{
    
      margin-top: 20px;
      font-size: 2rem;
      text-align: center;
      justify-content: center;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    }
    
    #lista-plus{
    
      margin-top: 30px;
      text-align: left;
    
    }
    
    #value-plus{
    
      font-size: 20px;
    
    }
    
    .servicio-premium{
    
      margin: auto;
      width:  80%;
      height: 500px;
      background: #BC82FD;
      border: black solid 2px;
      box-shadow: 10px 10px 9px  rgba(0, 0, 0, 0.3);
      margin-bottom: 50px;
    
    }
    
    #titulo-premium{
    
      margin-top: 20px;
      font-size: 2rem;
      text-align: center;
      justify-content: center;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    }
    
    #lista-premium{
    
      text-align: left;
    
    }
    
    #value-premium{
    
      margin-top: 30px;
      font-size: 20px;
    
    }
    
    #boton1
    {
      
      width: 180px;
    
    }
    
    #boton2
    {
      
      width: 180px;
      margin-top: 100px;
      
    
    }
    
    #boton3
    {
    
      margin-top: 160px;
      width: 180px;
    
    }
  
  
  }
  
  @media (max-width: 576px) {
  
  
    .contenedor-precios{
  
      display: block;
      margin: auto;
  
  
    }
    
         
    .precios{
    
      margin-bottom: 50px;
      display: block;
      height: auto;
      justify-content: center;
      text-align: center;
      align-items: center;
  
    }
    
    .servicio-basico{
    
      margin: auto;
      width:  100%;
      height:auto;
      padding-bottom: 20px;
      background: #FFE4FF;
      border: none;
      margin-bottom: 50px;
      
    }
    
    #titulo-basico{
    
      margin-top: 20px;
      font-size: 2rem;
      text-align: center;
      justify-content: center;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
    }
    
    #lista-basico{
    
      margin-top: 30px;
      text-align: left;
    
    }
    
    #value-basico{
    
     font-size: 1.2rem;
    
    }
    
    .servicio-plus{
    
      margin: auto;
      width:  100%;
      height:auto;
      background: #8e7bd8;
      border: none;
      box-shadow: 10px 10px 9px  rgba(0, 0, 0, 0.3);
    
    }
    
    #titulo-plus{
    
      margin-top: 20px;
      font-size: 2rem;
      text-align: center;
      justify-content: center;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    }
    
    #lista-plus{
    
      margin-top: 30px;
      text-align: left;
    
    }
    
    #value-plus{
    
      font-size: 20px;
    
    }
    
    .servicio-premium{
    
      margin: auto;
      width:  100%;
      height:auto;
      background: #BC82FD;
      border: none;
      box-shadow: 10px 10px 9px  rgba(0, 0, 0, 0.3);
      margin-bottom: 50px;
    
    }
    
    #titulo-premium{
    
      margin-top: 20px;
      font-size: 2rem;
      text-align: center;
      justify-content: center;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    }
    
    #lista-premium{
    
      text-align: left;
    
    }
    
    #value-premium{
    
      margin-top: 30px;
      font-size: 20px;
    
    }
    
    #boton1
    {
      
      width: 180px;
    
    }
    
    #boton2
    {
      
      width: 180px;
      margin-bottom: 180px;
    
    }
    
    #boton3
    {
      
      margin-top: 160px;
      width: 180px;
    
    }
  
  }
  
  
  
  
  
  
  
  
  
  
  
  
  




/*El siguiente código corresponde al footer*/

section {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #172940;
    padding-top: 60px;
  }
  
  footer {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin: 0 30px;
  }

  #footer-img {
    width: 10rem;
  }
  
  @media (width < 620px) {
    footer {
      flex-direction: column;
    }
  
    footer.bottom {
      gap: 16px;
      flex-direction: column-reverse;
    }
  }
  
  footer > img {
    margin-top: 10px;
  }
  
  @media (width >= 620px) {
    footer {
      margin: 0 auto;
      max-width: 600px;
      padding: 0;
    }
  }
  
  footer {
    color: #a2b5cd;
  }
  
  footer.top {
    border-bottom: 2px solid #3a4f6a;
    padding-bottom: 20px;
  }
  
  footer.bottom {
    padding: 20px 0;
    justify-content: space-between;
  }
  
  footer.top .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  
  .links > div {
    display: grid;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  footer h2 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #f7f7f7;
  }
  
  .legal {
    font-size: 12px;
  }
  
  .legal > a {
    margin: 0 4px;
  }
  
  .legal > span {
    margin-right: 10px;
  }
  
  footer.bottom .links {
    display: flex;
    gap: 18px;
  }
  
  footer.bottom .links > a {
    font-size: 24px;
  }
  
  @media (width < 420px) {
    footer {
      text-align: center;
      align-items: center;
    }
  
    footer.top .links {
      grid-template-columns: 1fr;
    }
  
    footer.bottom {
      align-items: center;
    }
  
    .legal > span {
      display: block;
      margin-right: 0;
      margin-bottom: 2px;
    }
  }

  #ig-logo {
    width: 2rem;
  }
  /*Aquí finaliza el código del footer*/